<div class="center" *ngIf="(questionCount$ | async) == 0 && (question$ | async) == null">
  
  starting engines...
  <mat-spinner></mat-spinner>

</div>

<div class="container" *ngIf="(questionCount$ | async) > 0 && (question$ | async) != null">

    <score-tracker
      [answerIsCorrect]="answerCorrectOrNot$ | async"
      [numberOfQuestions]="questionCount$ | async"
    ></score-tracker>

    <!--
    <button (click)="openSummaryBox()">Open Dialog</button>
    -->
    <div class="question-container">

      {{ (question$ | async)?.question }}

    </div>

    <div id="true-false-container">
      <button mat-raised-button color="primary" (click)="answerSelected(true)" class="trueFalseButtons">TRUE</button>
      <button mat-raised-button color="primary" (click)="answerSelected(false)" class="trueFalseButtons">FALSE</button>
    </div>

</div>