/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html { font-family: 'Roboto', sans-serif; }

.horizontal {
    display:inline-block;
    text-align:center;
    width: 7%;
    margin-right:5px;
    margin-bottom:5px;
}

.center {
    width: 200px;
    margin:0px auto; 
}

.score-container {
    text-align: center;
}

#true-false-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#true-false-container > button {
   font-size: 20px;
}

.question-container {
    text-align: center;
    padding: 50px;
}

.trueFalseButtons {
    min-width: 300px !important;
}

.green {
    background-color: #68c000;
}

.red {
    background-color: #d33b3b;
}

.grey {
    background-color: #3c3a37;
}

/* Mobile */
@media (min-width: 300px) {
    .trueFalseButtons {
        min-height: 100px;
    }

    .question-container {
        font-size: 20px;
    }

    .spacer {
        padding: 20px;
    }

    .question-container {
        height: 150px;
    }
}

/* Tablet */
@media (min-width: 680px) {
    .trueFalseButtons {
        min-height: 100px;
    }

    .question-container {
        font-size: 30px;
    }

    .spacer {
        padding: 20px;
    }

    .question-container {
        height: 150px;
    }
}


/* Desktop */
@media (min-width: 900px) {
    /* How tall to make the TRUE and FALSE buttons */
    .trueFalseButtons {
        min-height: 150px;
    }

    #true-false-container {
        min-width: 630px !important;
    }

    /* question font size */
    .question-container {
        font-size: 50px;
    }

    /* space between TRUE and FALSE buttons */
    .spacer {
        padding: 5px;
        display: inline-block;
    }

    /* How far down to push the TRUE and FALSE buttons*/
    .question-container {
        height: 200px;
    }
}